<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/blog}">MyBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{/blog/add}">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{/blog/list}">Browse</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>News</h1>
    <div th:each="blog : ${blogs}" style="margin-top: 25px">
        <a th:href="@{/blog/__${blog.id}__/view}" style="text-decoration: none; color: black"><h2 th:text="${blog.title}" style="border-top: 1px solid gray"></h2></a>
        <div th:if="${blog.category}">
            <span th:text="${blog.category.name}" style="color: blue"></span>
        </div>
        <span th:text="${blog.date}" style="color: green; font-size: smaller"></span>
        (<span th:text="${blog.id}" style="font-size: smaller"></span>)
        <p th:text="${blog.content}" style="margin-bottom: 0px"></p>
        <span th:text="${blog.likes}" style="font-weight: bold"></span> likes<br>
        <a th:href="@{/blog/__${blog.id}__/like}" class="btn btn-primary btn-sm">Like</a>
        <a th:href="@{/blog/__${blog.id}__/unlike}" class="btn btn-secondary btn-sm">Unlike</a>
    </div>
</div>
</body>
</html>