<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/blog}">MyBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/blog/add}">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/blog/list}">Browse</a>
                    </li>
                </ul>
                <div align="left">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a th:if="!${loginUser.id}" class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                            <span th:if="${loginUser.id}" th:text="'Welcome, ' + ${loginUser.username}" class="nav-link active"></span>
                        </li>
                        <li class="nav-item" th:if="${loginUser.id}">
                            <a class="nav-link active" aria-current="page" th:href="@{#}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <h1>News</h1>
    <div th:each="blog : ${blogs}" style="margin-top: 25px">
        <div th:object="${blog}" style="border-top: 1px solid gray">
            <table>
                <tr>
                    <td style="vertical-align: top">
                        <img th:if="*{image}" th:src="*{image}" alt="image" width="200" style="padding: 10px">
                    </td>
                    <td>
                        <a th:href="@{/blog/__${blog.id}__/view}" style="text-decoration: none; color: black">
                            <h2 th:text="*{title}"></h2>
                        </a>

<!--                        <span th:if="${blog.category}" th:text="*{category.name}" style="color: blue"></span>-->
                        <span th:text="*{categoryName}" style="color: blue"></span>
                        <span th:text="*{date}" style="color: green; font-size: smaller"></span>

                        (<span th:text="*{id}" style="font-size: smaller"></span>)

                        <p th:text="*{content}" style="margin-bottom: 0px"></p>

                        <span th:text="*{likes}" style="font-weight: bold"></span><span> likes</span>
                        <span> </span>
                        <span th:text="*{commentCount}" style="font-weight: bold"></span><span> comments</span><br>
                        <a th:href="@{/blog/__${blog.id}__/like}" class="btn btn-primary btn-sm">Like</a>
                        <a th:href="@{/blog/__${blog.id}__/unlike}" class="btn btn-secondary btn-sm">Unlike</a>
                        <a th:href="@{/blog/__${blog.id}__/view}" class="btn btn-primary btn-sm">Comment</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>