<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head"></head>
<body>
<div class="container">
    <nav th:replace="index::navbar"></nav>
    <div>
        <h1>Article</h1>
        <div th:object="${blog}" style="margin-top: 25px; border-top: 1px solid gray">
            <h2 th:text="${blog.title}"></h2>
            <img th:if="*{image}" th:src="*{image}"><br>
            <span th:text="${blog.category.name}" style="color: blue"></span>
            <span th:text="${blog.date}" style="color: green; font-size: smaller"></span>
            (<span th:text="${blog.id}" style="font-size: smaller"></span>)
            <p th:text="${blog.content}" style="margin-bottom: 0px"></p>
            <span th:text="*{likes}" style="font-weight: bold"></span><span> likes</span>
            <span> </span>
            <span th:text="${comments.get().count()}" style="font-weight: bold"></span><span> comments</span><br>
            <a th:href="@{/blog/__${blog.id}__/view/like}" class="btn btn-primary btn-sm">Like</a>
            <a th:href="@{/blog/__${blog.id}__/view/unlike}" class="btn btn-secondary btn-sm">Unlike</a>
        </div><br>

        <div>
            <form th:object="${newComment}" th:action="@{/blog/__${blog.id}__/view/comment}" method="post">
                <input hidden th:field="*{id}">
                <textarea th:field="*{content}" placeholder="Add new comment..." style="width: 50%; height: 50px"></textarea><br>
                <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Name Error</td>
                <input type="submit" value="submit" class="btn btn-primary btn-sm">
            </form>
        </div>

        <div th:each="comment : ${comments}">
            <div th:object="${comment}">
                <span th:text="*{date}" style="color: green; font-size: smaller"></span>
                <p th:text="*{content}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>