<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table tr,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<form th:action="@{product}" method="get">
    <input type="text" th:name="q" th:value="${q}">
    <button>search</button>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    <tr th:each="product : ${products}">
        <div th:object="${product}">
            <td><span th:text="*{id}"></span></td>
            <td><span th:text="*{name}"></span></td>
            <td><img width="100" th:src="@{'/image/' + *{image}}" alt=""></td>
            <td><span th:text="*{category.name}"></span></td>
            <td><a th:href="@{/product/{id}/view(id = *{id})}">view</a></td>
        </div>
    </tr>
    <tr>
        <form th:action="@{/product/add}" method="post" th:object="${newProductForm}" enctype="multipart/form-data">
            <td><span>new product</span></td>
            <td><input type="text" th:field="*{name}"></td>
            <td><input type="file" th:field="*{image}"></td>
            <td>
                <select th:field="*{category}">
                    <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
                </select>
            </td>
            <td><input type="submit" value="add"></td>
        </form>
    </tr>
</table>
<div>
    <a th:href="@{'/product'(page=${products.number - 1}, q= ${q})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/product'(page=${products.number + 1}, q= ${q})}" th:if="${products.hasNext()}">Next</a>
</div>
</body>
</html>