<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="text" placeholder="username" id="username" name="username">
<input type="password" placeholder="password" id="password" name="password">
<button type="button" onclick="login()">Login</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function login() {
        let username = $('#username').val();
        let password = $('#password').val();
        let user = {
            username: username,
            password: password,
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            data: JSON.stringify(user),
            url: "/login",
            success: function (data) {
                console.log("login successfully");
                localStorage.setItem("token", data.token);
                window.location.href = "/";
            }
        });
    }
</script>
</body>
</html>
